<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuestra Historia - Manoir Doré Luxury Hotel</title>
    <link rel="stylesheet" href="/public/historia.css" />
  </head>
  <body>

    <nav>
        <div class="nav__bar">
          <div class="nav__header">
            <div class="logo nav__logo">
              <div>MDLH</div>
              <span>MANOIR DORÉ<br />LUXURY HOTEL</span>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
              <div class="botonlogin">
                
              </div>
              
            </div>
          </div>
    
          <ul class="nav__links" id="nav-links">
            <li><a href="/views/index.html">Inicio</a></li>
            <li><a href="/views/menu.html">Gastronomía</a></li> 
            <li><a href="/views/historia.html">Nuestra Historia</a></li>
            <li><a href="/views/index.html#rooms">Suites</a></li>
            <li><a href="/views/index.html#feature">Experiencias</a></li>
            
            
          </ul>
        </div>
      </nav>


    <div class="section__container history_container">
      <div class="intro_content">
        <p class="section__subheader">NUESTRA HISTORIA</p>
        <h2 class="section__header">
          Donde la Elegancia se Encuentra con la Naturaleza
        </h2>
        <p class="section__description">
            <br>
          Fundado con la visión de ofrecer un santuario de paz y lujo, el Manoir
          Doré Luxury Hotel ha crecido para convertirse en un símbolo de
          exclusividad y excelencia. Desde sus inicios, el hotel ha fusionado
          una arquitectura sofisticada con elementos naturales que celebran la
          belleza de su entorno. Cada rincón de este espacio está diseñado para
          que nuestros huéspedes se sientan en un paraíso de tranquilidad y
          lujo, donde el confort se encuentra con la elegancia en perfecta
          armonía.
          <br /><br />
          Con una ubicación privilegiada que permite vistas panorámicas y acceso
          a jardines exuberantes, Manoir Doré es el lugar ideal para escapar de
          la rutina. Nos enorgullece ser un hotel que no solo ofrece servicios
          de lujo, sino también experiencias auténticas que perduran en la
          memoria de quienes nos visitan. Ven a descubrir un legado de
          hospitalidad y sofisticación en cada detalle, un refugio donde el lujo
          moderno y la naturaleza se encuentran.
        </p>
        
      </div>
      <div class="gallery">
        <img
          src="/public/imghistoria/hotelantiguojpg.jpg"
          alt="Como iniciamos"
        />
        <img
          src="/public/imghistoria/lobbyhotel.jpg"
          alt="Uno de Nuestros Lobby"
        />
        <img
          src="/public/imghistoria/zonasderelajojpg.jpg"
          alt="Nuestros Jardines y área de descanso al aire libre"
        />
      </div>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Manoir Doré Luxury Hotel. Todos los derechos reservados.</p>
    </footer>
    
  </body>
</html>
