<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reserva tu Estancia - Manoir Doré Luxury Hotel</title>
    <link rel="stylesheet" href="/public/reserva.css" />
  </head>
  <body>
    <section class="calendar__hero">
      <h1>Reserva tu Estancia en Manoir Doré</h1>
      <p>
        Selecciona tus fechas y tipo de habitación para experimentar el lujo y
        la serenidad que mereces.
      </p>
    </section>

    <section class="calendar__section">
      <div class="calendar__container">
        <form id="bookingForm">
          <div class="input__group">
            <label for="arrival">Fecha de Llegada</label>
            <input type="date" id="arrival" name="fecha_llegada" required />
          </div>
          <div class="input__group">
            <label for="departure">Fecha de Salida</label>
            <input type="date" id="departure" name="fecha_salida" required />
          </div>
          <div class="input__group">
            <label for="room-type">Tipo de Habitación</label>
            <select id="room-type" name="tipo_habitacion" required>
              <option value="" disabled selected>Selecciona una opción</option>
              <option value="suite_azul">Suite Azul</option>
              <option value="villa_turca">Villa Turca</option>
              <option value="penthouse_muller">Penthouse Muller</option>
            </select>
          </div>
          <div class="input__group">
            <label for="guests">Huéspedes</label>
            <input
              type="number"
              id="guests"
              name="huespedes"
              placeholder="Número de huéspedes"
              required
              min="1"
            />
          </div>
          <button type="button" class="btn" onclick="checkAvailability()">
            Consultar Disponibilidad
          </button>
          
          <button
            type="button"
            class="btn hidden"
            id="reserveBtn"
            onclick="makeReservation()"
            disabled
          >
            Reservar
          </button>
        </form>
        <div id="result" class="result__message"></div>
      </div>
    </section>

    <script src="/public/scriptR.js"></script>
  </body>
</html>
